body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div{
    box-sizing: border-box;
}

header{
    background: url(../Img/BGfirst.jpg) no-repeat center top / cover;
    height: 100vh;
    box-sizing: border-box;
    
}

.container{
    width: 1170px;
    margin: 0 auto;
    font-size: 16px;
    }

.logo{
    margin-top: 50px;
    float: left;
}

nav{
    margin-top: 50px;
    float: right;
    font-size: 20px;
    box-sizing: border-box;
}

.menu{
    padding:5px 10px;
    margin: 0px;
    display: block;
      
}

.menu li{
    float: left;
    display: block;
    margin-right: 21px;
    padding:5px 10px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
}

.title_first{
    font-size: 25px;
    color: #fff;
    text-align: center;
    
}

h1 {
    font-size: 51px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 210px;
    box-sizing: border-box;
}

.border_menu:hover{
    border: 1px solid #fff;
    border-radius: 15px;
 }

.main_arrow{
    position: relative;
    z-index: 2;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}
#about{
    background-color: #fff;
}

.about_us{
    
    height: 50vh;
    
}

.about_us h4{
    color: #333b46;
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 80px;
    
}
.about_us p{
width: 466px;
text-align: center;
line-height: 25px;
color: #81868e;
}
.about_us img{
    float: right;
    
}
.about_us button{
    margin-top:60px;
    border-radius: 15px;
    padding:5px 10px;
    background-color: #fff;
    border: 1px solid #333b46;
}
.about_us button:hover{
    background-color: #19bd9a;
    border: 1px solid #19bd9a;
    color: #fff;
}
#details{
    background-color: #f3f3f3;
}

 .details_about{
    height: 60vh;
      
}

footer{
    
}